{% extends "main/index.html" %}
{% load static %}


{% block link %}
    <link rel="stylesheet" href="{% static 'main/css/screensaver.css' %}">
{% endblock %}


{% block content %}
    <div class="center-div">
        <div class="text-box">
            <h1 class="logo">Вас приветсвует тестовый проект</h1>
            <h1>Тут реализован простенький интернет магазин, все товары беруться с wildberries</h1>
            <a class="btn btn-primary" href="{% url 'product-search' %}">Проект</a>
        </div>
    </div>
{% endblock %}

