.error-text-404 {
    color: white;
    margin: 20px;
}
.error-text-404 a {
    text-decoration: none;
    list-style: none;
    color: var(--color-lemon-3);
    font-size: 20px;
    transition: 0.3s;
}
.error-text-404 a:hover {
    color: white;
}
.error-text-404.active {
    display: none;
}